@charset "UTF-8";
*{margin: 0; padding: 0;}
#loadingPage{transition: .5s; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: #444;}

.loadingCircle{position: absolute; transform: translate(-50%, -100%); left: 50%; top: 50%; transform-origin: 50% 100%; overflow: hidden; animation: linear infinite;}
/* animation-timing-function: cubic-bezier(0.05, 0.6, 0.4, 0.95); */

.loadingText{position: absolute; transform: translate(-50%, 80px); left: 50%; top: 50%; color: #ddd; font-size: 30px;}
.loadingText>span{animation: 2s linear infinite;}
.loadingText>span:nth-of-type(1){animation-name: dot1;}
.loadingText>span:nth-of-type(2){animation-name: dot2;}
.loadingText>span:nth-of-type(3){animation-name: dot3;}

.loadingCircleX{width: 100px; height: 50px; transform: translate(-50%, -100%) rotate(-90deg); animation-name: CircleX; animation-duration: 8s;}
.loadingCircleL{width: 80px; height: 40px; transform: translate(-50%, -100%) rotate(90deg); animation-name: CircleL; animation-duration: 4s;}
.loadingCircleM{width: 60px; height: 30px; transform: translate(-50%, -100%) rotate(180deg); animation-name: CircleM; animation-duration: 2s;}
.loadingCircleS{width: 40px; height: 20px; transform: translate(-50%, -100%) rotate(0); animation-name: CircleS; animation-duration: 1s;}

.loadingCircle::before{border-radius: 50%;}
.loadingCircleX::before{content: ""; display: block; width: 100px; height: 100px; background: #aaa;}
.loadingCircleL::before{content: ""; display: block; width: 80px; height: 80px; background: #666;}
.loadingCircleM::before{content: ""; display: block; width: 60px; height: 60px; background: #ddd;}
.loadingCircleS::before{content: ""; display: block; width: 40px; height: 40px; background: #999;}

@keyframes CircleX{
  0%{transform: translate(-50%, -100%) rotate(-90deg);}
  /* 10%{transform: translate(-50%, -100%) rotate(-90deg);}
  40%{transform: translate(-50%, -100%) rotate(90deg);}
  60%{transform: translate(-50%, -100%) rotate(90deg);}
  90%{transform: translate(-50%, -100%) rotate(270deg);} */
  100%{transform: translate(-50%, -100%) rotate(270deg);}
}
@keyframes CircleL{
  0%{transform: translate(-50%, -100%) rotate(90deg);}
  /* 10%{transform: translate(-50%, -100%) rotate(90deg);}
  40%{transform: translate(-50%, -100%) rotate(-90deg);}
  60%{transform: translate(-50%, -100%) rotate(-90deg);}
  90%{transform: translate(-50%, -100%) rotate(-270deg);} */
  100%{transform: translate(-50%, -100%) rotate(-270deg);}
}
@keyframes CircleM{
  0%{transform: translate(-50%, -100%) rotate(180deg);}
  /* 10%{transform: translate(-50%, -100%) rotate(180deg);}
  40%{transform: translate(-50%, -100%) rotate(360deg);}
  60%{transform: translate(-50%, -100%) rotate(360deg);}
  90%{transform: translate(-50%, -100%) rotate(540deg);} */
  100%{transform: translate(-50%, -100%) rotate(540deg);}
}
@keyframes CircleS{
  0%{transform: translate(-50%, -100%) rotate(0deg);}
  /* 10%{transform: translate(-50%, -100%) rotate(0deg);}
  40%{transform: translate(-50%, -100%) rotate(-180deg);}
  60%{transform: translate(-50%, -100%) rotate(-180deg);}
  90%{transform: translate(-50%, -100%) rotate(-360deg);} */
  100%{transform: translate(-50%, -100%) rotate(-360deg);}
}
@keyframes dot1{
  0%{opacity: 0;}
  25%{opacity: 1;}
  50%{opacity: 1;}
  75%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes dot2{
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 1;}
  75%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes dot3{
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 0;}
  75%{opacity: 1;}
  100%{opacity: 0;}
}
