@charset "UTF-8";
*{margin: 0; padding: 0;}

/* loading page */
  #loadingPage{transition: .5s; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: #444; z-index: 50000;}

  .loadingCircle{position: absolute; transform: translate(-50%, -100%); left: 50%; top: 50%; transform-origin: 50% 100%; overflow: hidden; animation: linear infinite;}

  .loadingText{position: absolute; transform: translate(-50%, 80px); left: 50%; top: 50%; color: #ddd; font-size: 30px;}
  .loadingText>span{animation: 2s linear infinite;}
  .loadingText>span:nth-of-type(1){animation-name: dot1;}
  .loadingText>span:nth-of-type(2){animation-name: dot2;}
  .loadingText>span:nth-of-type(3){animation-name: dot3;}

  .loadingCircleL{width: 60px; height: 30px; transform: translate(-50%, -100%) rotate(180deg); animation-name: CircleL; animation-duration: 2s;}
  .loadingCircleM{width: 40px; height: 20px; transform: translate(-50%, -100%) rotate(0); animation-name: CircleM; animation-duration: 1s;}
  .loadingCircleS{width: 20px; height: 20px; background: #444; border-radius: 50%; transform: translate(-50%, -50%)}

  .loadingCircle::before{border-radius: 50%;}
  .loadingCircleL::before{content: ""; display: block; width: 60px; height: 60px; background: #fff;}
  .loadingCircleM::before{content: ""; display: block; width: 40px; height: 40px; background: #777;}

  
/* main page */
  #page{position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: #222; overflow:hidden;}
  .hidden{display: none!important;}

  #popBackground{width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #3333;}

  #colorBar{position: absolute; width: 100%; height: 100%; right: 0; top: 0;}  
  .toolBarWarp{width: 100%; height: 100%; position: absolute; overflow-y: auto;}
  .toolBarWarp::-webkit-scrollbar{display: none;}
  .toolBarToggleButton{width: 30px; height: 30px; position: absolute; background: #666; color: #fff; text-align: center; line-height: 26px; font-size: 30px; border: 2px solid #444; top: 0; cursor:pointer; user-select: none;}
  .toolBarActive{display:none;}
  .toolBars.toggle .toolBarActive{display:block;}
  .toolBars.toggle .toolBarInactive{display:none;}
  .backgroundPattern{background-color: #eee; background-image: linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa), linear-gradient(45deg, #aaa 25%, transparent 25%, transparent 75%, #aaa 75%, #aaa); background-position: 0 0, 10px 10px; background-size: 20px 20px;}

  #controller{width: 200px; height: 55%; position: absolute; right: -200px; top: 50%; transform: translateY(-50%);background: #777; z-index: 200; border-radius: 2px; border: 2px solid #555; border-right: 0; transition: 0.5s;}
    #controller.toggle{right: 0;}
    #controller>.toolBarToggleButton{left: -34px; border-right: none; border-radius: 5px 0 0 5px;}
    #color{width: 120px; height: 120px; float: right; margin: 39px 39px 19px;}
    #colorInput{width: 112px; margin: 0 39px 19px; border-width: 1px; padding: 3px 4px; font-size: 18px;}
    #paletteHistory{width: 120px; height: 360px; background: #ddd; margin: 0 40px 0; overflow-y: auto;}
    #paletteHistory::-webkit-scrollbar{display: none;}
    .colorHistory{width: 24px; height: 24px; border: 1px solid #fff; float: left; box-shadow: inset 0 0 2px 1px #bbb; cursor: pointer; box-sizing: border-box;}
    #colorIcon{width: 70px; height: 70px; position: relative; cursor: pointer; margin: 20px 40px; float: right;}
      #colorIcon>span{width: 10px; height: 16px; display: block; position: absolute; transform: translateX(-50%); transform-origin: 0 30px; left: 50%; top: 6px; pointer-events: none;}
      #colorIcon>span:nth-of-type(1){background: #f00;}
      #colorIcon>span:nth-of-type(2){background: #ff0; transform: rotate(60deg) translateX(-50%);}
      #colorIcon>span:nth-of-type(3){background: #0f0; transform: rotate(120deg) translateX(-50%);}
      #colorIcon>span:nth-of-type(4){background: #0ff; transform: rotate(180deg) translateX(-50%);}
      #colorIcon>span:nth-of-type(5){background: #00f; transform: rotate(240deg) translateX(-50%);}
      #colorIcon>span:nth-of-type(6){background: #f0f; transform: rotate(300deg) translateX(-50%);}

  #colorRoller{width: 100vh; height: 100%; position: absolute; overflow:hidden; right: 0; top: 0; z-index: 100; transform: rotate(-90deg);}
    #palette{width: 0; height: 0; position: absolute; bottom: -1500px; left: 50%;}
    .box{width: 250px; height: 400px; float: left; position: absolute; transform-origin: 0 1500px; transform: translateX(-50%); left: 50%; bottom: 1100px; border-radius: 8px; padding: 340px 20px 0; box-sizing: border-box;user-select: none; transition: .5s; cursor: pointer;}
    .box>span{ text-shadow: 0 0 5px #000; color: #fff; text-align: left; font-size: 30px; transform: rotate(90deg); display: block; position: absolute; left: 5px; bottom: 30px;}  

  #canvasPage{width: 100%; height: 100%; position: absolute; overflow: auto; z-index: 200; left: 50%; top: 50%; transform: translate(-50%, -50%); border: 2px solid #777;}
  #canvas.center{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

  #toolBar{width: 200px; height: 55%; position: absolute; left: -200px; top: 50%; transform: translateY(-50%);background: #777; z-index: 200; border-radius: 2px; border: 2px solid #555; border-left: 0; transition: 0.5s;}
    #toolBar.toggle{left: 0;}
    #toolBar>.toolBarToggleButton{right: -34px; border-left: none; border-radius: 0 5px 5px 0;}
    .toolBarButtonList{width: 120px; margin: 25px 40px; display: flex; justify-content: space-between; flex-wrap: wrap;}
    #preview{width: 120px; height: 120px; margin: 38px 38px 8px; border: 2px solid #aaa;}
    .toolBarButton{width: 55px; height: 40px; cursor: default; background: #888; border: 2px solid #aaa; user-select: none;}
    button~button~.toolBarButton{margin-top: 10px;}
    .toolBarButton:focus{outline: 0;}
    .toolBarButton.active{cursor: pointer; background: #ccc; border: 2px solid #bbb;}
    .toolBarButton.active:hover{background: #bbb;}
    .toolBarButton.select{background: #fff;}
    .toolBarButton.select:hover{background: #fff;}
    .rangeInputWarp{width: 120px; margin: 10px 40px 20px;}
    .rangeInputWarp>input{width: 120px; border-radius: 0; border: 1px solid #555; -webkit-appearance: none;}
    .rangeInputWarp>input:focus{outline: none;}
    .rangeInputWarp>.inputRange{border: none;}
    .rangeInputWarp>p{color: #fff; margin-bottom: 3px;}
    .rangeInputWarp>.inputRange::-webkit-slider-runnable-track{height: 15px; border: none;}
    .rangeInputWarp>.inputRange::-webkit-slider-thumb{-webkit-appearance: none; width: 10px; height: 15px; border-radius: none; background: #999; cursor: pointer;}
    .rangeInputWarp>.inputRange::-webkit-slider-thumb:hover{background: #aaa;}
    .rangeInputWarp>.inputRange::-webkit-slider-thumb:active{box-shadow: inset 0 0 3px #555;}

    #canvasResize{width: 400px; height: 200px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 10000; background: #555; color: #fff; padding: 30px; display: flex; justify-content: space-between;}
    .canvasResizeInput{width: 180px; height: 100%; display: flex; justify-content: space-between; align-content: center; flex-direction: column;}
    .canvasResizeInput>div:nth-of-type(1){margin-top: 20px;}
    .canvasResizeInput>div:nth-of-type(2){margin-bottom: 30px;}
    .canvasResizeInput button{width: 50px; height: 30px;}
    .canvasResizeSize{width: 180px; height: 180px; margin: 9px; border: 1px solid #aaa; position: relative;}
    #canvasResizeSize{background: #fff; width: 60%; height: 30%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

/* loading page animation */
@keyframes CircleL{
  0%{transform: translate(-50%, -100%) rotate(180deg);}
  100%{transform: translate(-50%, -100%) rotate(540deg);}
}
@keyframes CircleM{
  0%{transform: translate(-50%, -100%) rotate(0deg);}
  100%{transform: translate(-50%, -100%) rotate(-360deg);}
}
@keyframes dot1{
  0%{opacity: 0;}
  25%{opacity: 1;}
  50%{opacity: 1;}
  75%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes dot2{
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 1;}
  75%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes dot3{
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 0;}
  75%{opacity: 1;}
  100%{opacity: 0;}
}
